@font-face {
    font-family: mainfont;
    src: url(../../assets/fonts/bebas/BebasNeue-Regular.ttf);
}
@font-face {
    font-family: secondfontlight;
    src: url(../../assets/fonts/roboto/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: secondfontregular;
    src: url(../../assets/fonts/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: secondfontbold;
    src: url(../../assets/fonts/roboto/RobotoCondensed-Bold.ttf);
}