$clr1: #e94631;
$clr2: #263207;
$clr3: #2f4858;
$clr4: rgb(152, 193, 218);
$clr5: #ffffff;
$clrborder: rgb(71, 71, 71);
$clrborderBottom: rgb(161, 161, 161);
$starClr: #e6a80e;
$textMuteClr: #d3d3d3;
$whiteHoverClr: #cccccc;


// Branding Colors

$navBarClr: #111111;
$clrborderlight: #e9e9e9;
$brandinggreybold: #979797;
$brandingdarkgrey: #292929;
$brandingGrey: #b2b2b2;
$brandingPurple: #a800d9;
$brandingBlue: #22bbff;
$brandingGreen: #16d877;
$brandingGrad: linear-gradient(120deg, rgba(225,127,255,1) 0%, rgba(28,171,255,1) 100%);

//Breakpoint 

$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1070px;
